
      
	<div class="generic-container" ng-controller="CourseController as ctrl">
          <div class="panel panel-default">
              <div class="panel-heading"><span class="lead">Add Course </span></div>
              <div class="formcontainer">
                  <form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
                      <input type="hidden" ng-model="ctrl.course.courseId" />
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="file">Course Name</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.course.courseName" name="courseName" class="courseName form-control input-sm" placeholder="Enter course name" required ng-minlength="3"/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.courseName.$error.required">This is a required field</span>
                                      <span ng-show="myForm.courseName.$error.minlength">Minimum length required is 3</span>
                                      <span ng-show="myForm.courseName.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                        
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="file">Address</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.course.address" class="form-control input-sm" placeholder="Enter Course Address. [This field is validation free]"/>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="file">Email</label>
                              <div class="col-md-7">
                                  <input type="email" ng-model="ctrl.course.email" name="email" class="email form-control input-sm" placeholder="Enter Official Email" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.email.$error.required">This is a required field</span>
                                      <span ng-show="myForm.email.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                      <div class="row">
                          <div class="form-group col-md-12">
                              <label class="col-md-2 control-lable" for="file">Phone Number</label>
                              <div class="col-md-7">
                                  <input type="text" ng-model="ctrl.course.phoneNumber" name="phoneNumber" class="phoneNumber form-control input-sm" placeholder="Enter Official Phone Number" required/>
                                  <div class="has-error" ng-show="myForm.$dirty">
                                      <span ng-show="myForm.phoneNumber.$error.required">This is a required field</span>
                                      <span ng-show="myForm.phoneNumber.$invalid">This field is invalid </span>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="row">
                          <div class="form-actions floatRight">
                              <input type="submit"  value="{{!ctrl.course.courseId ? 'Add' : 'Update'}}" class="btn btn-primary btn-sm" ng-disabled="myForm.$invalid">
                              <button type="button" ng-click="ctrl.reset()" class="btn btn-warning btn-sm" ng-disabled="myForm.$pristine">Reset Form</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <div class="panel panel-default">
                <!-- Default panel contents -->
              <div class="panel-heading"><span class="lead">List of Course </span></div>
              <div class="tablecontainer">
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>ID.</th>
                              <th>Name</th>
                              <th>Address</th>
                              <th>Email</th>
                              <th>Phone No.</th>
                              <th>No. of Courses</th>                              
                              <th width="20%"></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr ng-repeat="u in ctrl.courses">
                              <td><span ng-bind="u.courseId"></span></td>
                              <td><span ng-bind="u.courseName"></span></td>
                              <td><span ng-bind="u.address"></span></td>	
                              <td><span ng-bind="u.email"></span></td>
                              <td><span ng-bind="u.phoneNumber"></span></td>
                              <td>
                              	<a href="#!courseList"><span ng-bind="u.courseCount"></span></a>
                              </td>                              
                              <td>
                              <button type="button" ng-click="ctrl.edit(u.courseId)" class="btn btn-success custom-width">Edit</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      
      
      